main {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0625rem;
    color: #000000;
}

/*Код для слайдеру*/
.slider {
    margin: 30px 0 55px 0;
    background-image: url("images/slider-1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 41.0256%;
    position: relative;
}
.text-slider {
    position: absolute;
    left: 40px;
    top: 0;
    height: 100%;
}

/*для вертикального вирівнювання тексту по центру не знаючи висоти елементу*/
.text-slider .text-for-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slider-button {
    width: 110px;
    min-height: 40px;
    background-color: #be926f;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
}


/*Код для групи товарів*/
.box-for-products h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.group-for-products {
    display: flex; /*це контейнер для блоків товарів*/
}

.product-items {
    border: solid 1px #e6e6e6;
    padding: 25px 40px 20px 40px;
    text-align: center;
}

.product-items .product-title{
    font-size: 17px;
    padding-bottom: 10px;
}

.product-items .product-desc{
    font-size: 12px;
    color: #999999;
    padding-bottom: 10px;
}

.product-items .photo-for-products{
    border: solid 1px #ffe0cb;
    position: relative; /*для позиціонування блоку по наведенні мишки*/
}

.photo-for-products .count-sale {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 42px;
    background: #be926f;
    top: -21px;
    right: -21px;
    border-radius: 50% 50% 50% 50%;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 42px;
}

.product-items .product-price{
    font-size: 20px;
    color: #be926f;
    padding-top: 10px;
}
.product-items .product-price-old{ /*це для нижнього блоку товарів зі знижкою*/
    font-size: 20px;
    color: #999999;
    text-decoration: line-through;
    padding-right: 10px;
}
.box-for-product-price { /*це для нижнього блоку товарів зі знижкою*/
    padding-top: 10px;
}

/*Товарні позиції по наведенню*/
.product-actions {
    position: absolute; /*для позиціонування блоку по наведенні мишки*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    opacity: 0;
}

.product-actions .wrapper-btn-group {
    width: 130px;
    height: 85px;
    align-self: center;
}

.wrapper-btn-group button {
    width: 100%;
    height: 40px;
    background-color: #be926f;
    border: none;
    color: #ffffff;
    font-size: 13px;
}
/*обгортка, для вирівнювання посилань*/
.wrapper-links {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.wrapper-links .like, .wrapper-links .sort, .wrapper-links .resize-full {
    height: 25px;
    width: 25px;
    border: solid 1px #be926f;
    content: "";
}

.wrapper-links .like {
     background: url("images/like.png") no-repeat center;
 }
.wrapper-links .sort {
    background: url("images/sort.png") no-repeat center;
}
.wrapper-links .resize-full {
    background: url("images/resize-full.png") no-repeat center;
}



/*Блок для знижок*/
.box-for-sale {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.sale, .hot-sale {
    border: solid 1px #e6e6e6;
    width: 50%;
}

.sale {
    margin-right: 15px;
}
.hot-sale {
    margin-left: 15px;
}
.wrapper-product-sale {
    display: flex;
}

.product-sale-item {
    display: flex;
    padding: 20px;
}

.product-sale-item a {
    border: solid 1px #ffe0cb;
    margin-right: 20px;
}

.wrapper-desc-product-sale-item { /*обгортра для текстових блоків в колонці*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-sale-desc {
    color: #999999;
    font-size: 12px;
}

.product-sale-name {
    color: #232323;
    font-size: 17px;
}

.product-sale-price {
    color: #999999;
    font-size: 14px;
}

.old-price {
    text-decoration: line-through;
    color: #999999;
    padding-right: 5px;
}

.new-price {
    color: #be926f;
}

.wrapper-hot-sale { /*обгортка для блоку з гарячою скидкою*/
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.desc-hot-sale {
    font-size: 12px;
    color: #999999;
    background: url("images/line-sale.png") no-repeat left;
    padding-left: 30px;
}
.name-hot-sale {
    font-size: 20px;
    padding: 10px 0;
}
.price-hot-sale {
    font-size: 16px;
    color: #be926f;
}



/*Блок для брендів*/
.box-for-brands {
    margin-top: 25px;
    border: solid 1px #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}



/*Блок для брендів*/
.box-for-bestseller{
    margin-top: 25px;
}

.box-for-bestseller h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}



/*Блок для слайдера-каруселі*/
.box-for-slider-caruselle {
    padding: 60px 0;
}

.box-for-slider-caruselle h2 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0 30px 0;
}
.wrapper-slider-caruselle {
    display: flex;
    position: relative;
}

.slider-caruselle-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.slider-caruselle-items:first-child {
    margin-left: 0;
}

.slider-caruselle-items:last-child {
    margin-right: 0;
}

.slider-caruselle-items img {
    border: 1px solid #ffe0cb;
}

.product-category {
    font-size: 12px;
    text-transform: uppercase;
    color: #7f9f5d;
    padding-top: 30px;
}

.slider-product-name {
    font-size: 18px;
    padding: 30px 0 25px 0;
    width: 272px;
    height: 40px;
    text-align: center
}

.slider-product-date {
    font-size: 14px;
    color: #999999;
    background: url("images/slider-clock.png") no-repeat left;
    padding-left: 20px;
    margin-bottom: 15px;
}

.slider-caruselle-join { /*це блок-зв'язок для слайдера каруселі*/
    background: #e6e6e6;
    height: 1px;
    width: 100%;
}

.slider-caruselle-join:hover {
    background: #be926f;
    transition: 1s;
}

.slick-prev { /*стилізація стрілок слайдера*/
    position: absolute;
    z-index: 2;
    background: url("images/slider-left.png");
    width: 13px;
    height: 23px;
    top: -30px;
    left: 8px;
}

.slick-next { /*стилізація стрілок слайдера*/
    position: absolute;
    z-index: 2;
    background: url("images/slider-right.png");
    width: 13px;
    height: 23px;
    top: -30px;
    right: 8px;
}

.slick-prev:hover, .slick-prev:focus { /*відміняє зникнення стрілки*/
    background: url("images/slider-left.png");
}

.slick-next:hover, .slick-next:focus { /*відміняє зникнення стрілки*/
    background: url("images/slider-right.png");
}

.slick-prev::before { /*для відміни стандартних стрілок слайдера*/
    content: "Prew";
    color: #999999;
    position: absolute;
    font-size: 13px;
    bottom: 5px;
    left: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.slick-next::before { /*для відміни стандартних стрілок слайдера*/
    content: "Next";
    color: #999999;
    position: absolute;
    font-size: 13px;
    bottom: 5px;
    right: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}



    /*блок для відгуків*/
.box-for-testimonials{
    background: #292929;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.box-for-testimonials h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    padding: 60px 0 30px 0;
    margin: 0;
}

.testimonials-line {
    align-self: center;
    height: 2px;
    width: 20px;
    background: #be926f;
}

.testimonials-desc {
    text-align: center;
    font-size: 17px;
    color: #cccccc;
    padding: 15px 30px 25px 30px;
    line-height: 1.75rem;
}

.testimonials-quadrate {
    width: 40px;
    height: 40px;
    background: #ffffff;
    align-self: center;
    border: 1px solid #be926f;
    transform: rotate(45deg);
}

.testimonials-quadrate:hover {
    transform: rotate(315deg);
    transition: 1s;
}

/*-----------------блок для емайл підписки-------------------*/
.box-for-subscribe {
    display: flex;
    padding: 90px 0;
}

.newsletter {
    font-size: 15px;
    line-height: 1.5rem;
    color: #666666;
    margin-right: 20px;
}

.newsletter h2 {
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
}

.subscribe {
    margin-left: 20px;
}

.subscribe-wrapper {
    display: flex;
    padding-top: 10px;
}

.subscribe .subscribe-email{
    height: 50px;
    width: 370px;
    border: solid 1px #e8e8e8;
    background: transparent;
    padding: 0 0 0 15px;
    box-sizing: border-box;
}

.subscribe .btn-subscribe{
    height: 50px;
    width: 200px;
    box-sizing: border-box;
    border: solid 1px #be926f;
    background: url("images/airplan.png") no-repeat 15px 10px;
    margin-left: 15px;
    color: #333333;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 0 0 15px;
    vertical-align: middle;
}

/*----------------блок "наші переваги"-------------------*/
.box-for-advantage {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    line-height: 40px;
    vertical-align: middle;
    background: #f8f8f8;
}

.box-for-advantage>div {
    padding-left: 50px;
    font-size: 18px;
    text-transform: uppercase;
}

.free-shipping {
    background: url("images/airplan1.png") no-repeat;
}

.customer-support {
    background: url("images/customer.png") no-repeat;
}

.money-back {
    background: url("images/15-days-back.png") no-repeat;
}

.help-center {
    background: url("images/24-7-tel.png") no-repeat;
}

/*-------------------------------блок "наші переваги"-------------------------------------*/
.box-for-contact-us {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 45px 0 60px 0;
}

.contact-us-call {
    background: url("images/iPhone.png") no-repeat;
    background-position-x: center;
    padding-top: 75px;
}

.contact-us-call span {
    font-size: 24px;
    color: #232323;
}

.contact-us-location {
    background: url("images/location.png") no-repeat;
    background-position-x: center;
    padding-top: 75px;
}

.contact-us-location  span {
    font-size: 14px;
    color: #666666;
}

.contact-us-mail {
    background: url("images/doble-mail.png") no-repeat;
    background-position-x: center;
    padding-top: 75px;
}

.contact-us-mail a {
    font-size: 14px;
    color: #be926f;
    text-decoration: none;
}

.box-for-contact-us h4 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 25px;
}